@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.Veterinarians {
    background: #F6F3FA;
    &__info {
        max-width: 546px;
        margin-left: 24px;
    }
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
	&__name {
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.96px;
		text-transform: uppercase;
		color: #f7a500;
		margin-bottom: 8px;
	}
	&__title {
		font-size: 44px;
		line-height: 53px;
		color: #000000;
		margin-bottom: 40px;
	}
	&__text {
		font-size: 16px;
		line-height: 23px;
		color: #000000;
        margin-bottom: 26px;
	}
    &__btn {
        @include btn;
        width: 166px;
        height: 48px;
    }
}
