@import "../../styles/variables";

.header {
	.nav__li {
		margin-right: 33px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__logo {
		margin-left: 40px;
	}
	&__row {
		height: 95px;
	}
	&__nav {
		display: flex;
		&-list {
			display: flex;
			list-style-type: none;
			justify-content: start;
		}
	}
	&__linkers {
		margin-left: 20px;
		a {
			text-decoration: none;
			color: $second-color;
			margin: 0 5px;
		}
	}
	&__reg {
		display: flex;
		align-items: center;
	}
	&__login {
		text-decoration: none;
		font-size: 14px;
		line-height: 18px;
		color: $second-color;
		margin-right: 33px;
	}
}
