.footer {
	background: #48156d;
	padding: 56px 0 32px;
	.nav__li {
		margin-bottom: 4px;
		list-style-type: none;
	}
	.nav__link {
		text-decoration: none;
		font-size: 13px;
		line-height: 18px;
		color: #ffffff;
		cursor: pointer;
	}
	&__container {
		max-width: 947px;
		margin-left: auto;
		margin-right: 0;
	}
	&__row {
		display: flex;
		justify-content: flex-end;
	}
	&__nav-name {
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		color: #c282f0;
		margin-bottom: 16px;
	}
	&__nav {
		margin-right: 45px;
	}
	&__list {
		list-style: none;
	}
	&__li {
		margin-bottom: 16px;
		max-width: 175px;
	}
	&__link {
		text-decoration: none;
		font-size: 14px;
		line-height: 18px;
		color: #ffffff;
	}
	&__media {
		max-width: 177px;
		display: flex;
		flex-wrap: wrap;
		margin-right: -24px;
		&-item {
			margin: 0 24px 16px 0;
		}
	}
	&__policy {
		margin-top: 60px;
		a {
			text-decoration: none;
			font-size: 14px;
			line-height: 18px;
			color: #ffffff;
			margin-right: 18px;
		}
	}
}

@import './footerAdaptive';
