@media (max-width: 576px) {
	.main-counter {

		&__span {
            padding: 10px 0;
            margin-bottom: 20px;
		}
		&__btns {
			flex-direction: column;
			justify-content: center;
			align-items: center;
            margin-bottom: 20px;
		}
	}
}
