@media (max-width: 1087px) {
	.pet-pharmacy {
		padding-top: 80px;
		&__title {
			font-size: 42px;
			max-width: 480px;
			line-height: 55px;
		}
	}
}

@media (max-width: 898px) {
	.pet-pharmacy {
		padding-top: 50px;
		min-height: 550px;
		background: url(../../../../static/imgs/pet-pharmacy/rabbit.png) no-repeat
				60% 100%,
			#fef7e5;
		&__title {
			font-size: 35px;
			max-width: 400px;
			line-height: 42px;
		}
	}
}

@media (max-width: 576px) {
	.pet-pharmacy {
		padding: 30px 0;
		min-height: 100%;
		background: #fef7e5;
		&__title {
			font-size: 30px;
			line-height: 38px;
		}
		&__info {
			max-width: 100%;
		}
	}
}

@media (max-width: 400px) {
	.pet-pharmacy {
		&__title {
			font-size: 25px;
			max-width: 300px;
			line-height: 32px;
		}
		&__info {
			font-size: 15px;
			word-wrap: break-word;
			line-height: 24px;
		}
	}
}
